/* @import url(https://fonts.googleapis.com/css?family=Quicksand); */
/* html,*/
/* #divv {
  height: 100vh;
  background-color: #333;
  font-family: "Quicksand", sans-serif;
  color: white;
} */

.b-a,
.bar,
.bar:before,
.bar:after {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: rgba(33, 28, 28, 0.95);
}

.menu-collapsed {
  transition: all 0.25s;
  position: fixed;
  top: 125px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1000;
  cursor: pointer;
}
.menu-collapsed ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.bar {
  position: fixed;
  left: 12px;
  top: 135px;
}
.bar:before {
  top: -8px;
}
.bar:after {
  top: 8px;
}

.b-a-expanded,
.menu-expanded .bar:before,
.menu-expanded .bar:after {
  transition: all 0.25s;
  top: -0px;
  background-color: #fff;
}

.menu-expanded {
  transition: all 0.25s;
  text-align: center;
  line-height: 25vh;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
}
.menu-expanded ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-expanded a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  display: block;
}
.menu-expanded a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.15s;
  letter-spacing: 2px;
  color: #333;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.menu-expanded .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.menu-expanded .bar:before {
  transform: rotate(45deg);
}
.menu-expanded .bar:after {
  transform: rotate(-45deg);
}

.roww {
  padding-top: 150px;
}

h1 {
  font-size: 3em;
}

h3 {
  color: #999;
}

p {
  line-height: 160%;
  letter-spacing: 1px;
}
